.pad {
  &_root {
    background: #efefef;
    border-radius: 16px;
    height: 62px;
    max-width: 500px;
    margin: 8px auto;
    padding: 0 12px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    user-select: none;
    font-size: 18px;
    transition: background-color 0.1s ease-in-out;
    &:nth-child(1) {
      margin-top: 16px;
    }
    &:hover {
      background: #f5f5f5;
    }
  }
}

.head {
  padding: 0 8px;
  height: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: border-bottom-color 0.18s ease-in-out;
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  color: #a3a3a3;

  align-items: center;
  & > div {
    &:nth-child(1) {
      text-align: left;
    }
    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }
  cursor: pointer;
}

.name {
  & span {
    color: #2e2e2e;
    font-weight: 400;
  }
}
