.container {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
}

.button {
  flex: 0 1 auto;
  margin: 8px 16px;
  background: #3ac18c;
  color: #fff;
  border-radius: 8px;
  padding: 4px;
  user-select: none;
  cursor: pointer;
}
